@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: IkarosLight;
	src: url(../fonts/Ikaros-Light.otf);
}

html, body {
	background: #262733;
	align-items: center;
}

h1 {
	font-family: IkarosLight;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
}

a {
	text-decoration: inherit;
}

.refreshButton {
	color: #5BA1E1;
	font-family: Montserrat;
	font-weight: 100;
	font-size: 15px;
	align-self: center;
	margin: 20px 10px;
	
	border: solid 2px #5BA1E1;
	border-radius: 50px;
	padding: 10px 15px;
	
	transition-duration: 300ms;
}

.refreshButton:hover {
	background-color: aliceblue;
	color: #262733;
	border: solid 2px aliceblue;
}
